html {

}

.numbers {
	display: flex;
	justify-content: space-around;
	width: 33%;
}

.operators {
	display: flex;
	justify-content: space-around;
	width: 33%;
}


.current-ops {
	display: flex;
	justify-content: space-around;
	width: 33%;
}

.actions {
	display: flex;
	justify-content: space-around;
	width: 33%;
}