html {

}

.header {
	width: 33%;
	text-align: center;
	text-decoration: underline;
}

.numbers {
	display: flex;
	justify-content: space-around;
	width: 33%;
}

.operators {
	display: flex;
	justify-content: space-around;
	width: 33%;
}


.current-ops {
	display: flex;
	justify-content: space-around;
	width: 33%;
}


#output {
	color: green;
}

.actions {
	display: flex;
	justify-content: space-around;
	width: 33%;
}

.button:hover {
	color: green;
}

.trivia {
	text-decoration: blink;
	width: 33%;
}



