html {
	font-family: 'Roboto', sans-serif;
}

.header {
	text-align: center;
	text-decoration: underline;
	color: blue;
}

.calc-header {

}

.output {
	display: flex;
	justify-content: center;
	font-size: 24px;
	font-weight: 800;
	color: blue;
}

#current-op {
	color: orange;
}

#output {
	color: orange;
}

#trivia {
	text-align: center;
	color: blue;
}
.calc-body {
	display: flex;
	justify-content: center;
	flex-direction: row;
}

.numbers {

}

.operators {

}

.btn {
	font-size: 24px;
	text-align: center;
	border: none;
	color: white;
	padding: 30px 40px;
	margin-bottom: 4px;
}

.btn-num:hover {
	color: orange;
	font-weight: 900;
	font-size: 24px;
	text-align: center;
	border: none;
	padding: 30px 40px;
	margin-bottom: 4px;
}

.btn-op:hover {
	color: blue;
	font-weight: 900;
	font-size: 24px;
	text-align: center;
	border: none;
	padding: 30px 40px;
	margin-bottom: 4px;
}

.btn-clear:hover {
	color: blue;
	font-weight: 900;
	font-size: 24px;
	text-align: center;
	border: none;
	padding: 30px 40px;
	margin-bottom: 4px;
}

.btn-num {
	width: 93px;
	background-color: darkblue;

}

.btn-op {
	margin-left: 4px;
	background-color: orange;
	width: 93px;

}

.btn-num-zero {
	width: 93px;
}

.btn-clear {
	background-color: darkorange;
	margin-left:0px;
}

.btn-equals {
	background-color: darkorange;
	margin-left:0px;

}

form {
	display: inline;
}






