
<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="./style.css">
	<link href="https://fonts.googleapis.com/css?family=Roboto:100" rel="stylesheet">
	<title>Simple Calculator</title>
</head>
<body>
	<header class="header">
		<a href="https://github.com/MikeEngerer/calculator"><h1>Calculator</h1></a>
	</header>
	<br>
	<main>
		<div class="calc-header">
			<div class="output">
				<h3 id="current-one"></h3>
				&nbsp;
				<h3 id="current-op"></h3>
				&nbsp;
				<h3 id="current-two"></h3>
				&nbsp;
				<% include ../partials/_answer %>	
			</div>
		</div>
		<div class="calc-body">
			<div class="numbers">
				<div class="btn-num-seven-nine">	
					<button class="btn btn-num" onclick="operations.changeNum(this.value)" value='7'>7</button>
					<button class="btn btn-num" onclick="operations.changeNum(this.value)" value='8'>8</button>
					<button class="btn btn-num" onclick="operations.changeNum(this.value)" value='9'>9</button>
				</div>
				<div class="btn-num-four-six">
					<button class="btn btn-num" onclick="operations.changeNum(this.value)" value='4'>4</button>
					<button class="btn btn-num" onclick="operations.changeNum(this.value)" value='5'>5</button>
					<button class="btn btn-num" onclick="operations.changeNum(this.value)" value='6'>6</button>
				</div>
				<div class="btn-num-one-three">
					<button class="btn btn-num" onclick="operations.changeNum(this.value)" value='1'>1</button>
					<button class="btn btn-num" onclick="operations.changeNum(this.value)" value='2'>2</button>
					<button class="btn btn-num" onclick="operations.changeNum(this.value)" value='3'>3</button>
				</div>
				<div class="btn-num-zero-equals">	
					<button class="btn btn-num btn-num-zero" onclick="operations.changeNum(this.value)" value='0'>0</button>
					<button class="btn btn-num btn-clear" value="clear" onclick="operations.clear()">C</button>	
					<form name="evaluate" method="post" action="/">
						<input id="answer" type="hidden" name="answer">
						<button class="btn btn-op btn-equals" type="submit" onclick="operations.evaluate()">=</button>
					</form>
				</div>
			</div>
			<div class="operators">
				<div>
					<button class="btn btn-op" onclick="operations.changeOp(this.value)" value='add'>+</button>
				</div>
				<div>
					<button class="btn btn-op" onclick="operations.changeOp(this.value)" value='subtract'>-</button>
				</div>
				<div>
					<button class="btn btn-op" onclick="operations.changeOp(this.value)" value='multiply'>*</button>
				</div>
				<div>
					<button class="btn btn-op" onclick="operations.changeOp(this.value)" value='divide'>/</button>
				</div>
			</div>	
		</div>
		<div>
			<% include ../partials/_trivia %>
		</div>	
	</main>
	<script type="text/javascript" src="../index.js"></script>
</body>
</html>